* {padding: 0; margin: 0;  border: 0;}
html {font-size: 20px; scroll-behavior: smooth;}
body {font-size: 1rem; color: #000000; line-height: 1.4; font-family: "Raleway"; font-weight: 500; background: #000; color: #FFF;}
a {text-decoration: none; color: #FFF; }
ul, ol {list-style-type: none;}
p {margin-bottom: 1em;}
br {margin:0 !important; color: #FFFFFF;}

.b { color: #000000; }
.paper { background: #EFE5D5; }

/* HEADERS */
h1, .h1 { font-weight: 600; font-size: 1.2rem; text-transform: uppercase; letter-spacing: 2px;}
h2 { font-weight: bold; text-transform: uppercase; font-size: 2rem; letter-spacing: 2px;} 
h3 { font-weight: 600; font-size: 1.2rem;}

header {position: absolute; width: 100%; }
header nav#desktop {margin: 0 2rem; }
header nav#mobile {display: none;}
header nav#desktop ul {display: flex; flex-direction: column; }
header nav#desktop ul li { margin-bottom: 0.5rem; display: flex; align-items: center; width: 3rem; overflow: hidden; transition: 500ms ease;}
header nav#desktop ul li:hover {width: 8rem;}
header nav#desktop ul li input {display: none; }
header nav#desktop ul li label {cursor: pointer; padding: 0.5rem 0; display: inline-flex; height: 2.5rem;}
header nav#desktop ul li img {width: 2.5rem; max-height: 2.5rem; opacity: 0.5; transition: 500ms ease;}
header nav#desktop ul li span {text-transform: uppercase; letter-spacing: 1px; font-size: 0.7rem; padding-left: 0.7rem; opacity: 0; flex-shrink: 0; transition: 500ms ease;}

header nav#desktop ul li:hover span {opacity: 1;}
header nav#desktop ul li:hover img {opacity: 1;}

header nav#mobile {width: calc(100% - 2rem);}
header nav#mobile .burger {position: absolute; right: 1rem; top: 0.25rem; height: 1rem; width: 1.5rem; z-index: 98;}
header nav#mobile input.burger {z-index: 99; opacity: 0; height: 1.5rem; cursor: pointer;}
header nav#mobile .burger span {width: 100%; top: 0; height: 3px; border-radius: 0.5rem; background: #FFF; display: block; position: absolute; transition: 500ms ease;}
header nav#mobile .burger span:nth-of-type(2) {top: 50%; }
header nav#mobile .burger span:nth-of-type(3) {top: 100%; }

header nav#mobile .burger:checked ~ .burger {transform: translateY(0.15rem) rotate(180deg);}
header nav#mobile .burger:checked ~ .burger span {background: #000;}
header nav#mobile .burger:checked ~ .burger span:nth-of-type(1) {transform: rotate(45deg); top: 50%;}
header nav#mobile .burger:checked ~ .burger span:nth-of-type(2) {opacity: 0; transform: scaleX(0)}
header nav#mobile .burger:checked ~ .burger span:nth-of-type(3) {transform: rotate(-45deg); top: 50%;}
header nav#mobile .burger:checked ~ a { filter: brightness(0) }
header nav#mobile .burger:checked ~ ul {transform: translate3d(0,0,0)}

header nav#mobile > a {z-index: 98; position: relative; transition: 500ms ease;}
header nav#mobile > ul {position: fixed; width: 100%;  height: 100%; left: 0; top: 0; background: #EFE5D5; display: flex; flex-direction: column; align-items: center; z-index: 97; justify-content: center; transform: translate3d(0,-100%,0); transition: 500ms ease;}
header nav#mobile > ul > li {height: 5rem; position: relative; display: flex; flex-direction: column; align-items: center;} 
header nav#mobile > ul li span {margin-top: -1rem; text-transform: uppercase; color: #000; font-size: 0.6rem; opacity: 0.75}
header nav#mobile > ul li a {padding: 1rem; }
header nav#mobile > ul li img {filter: brightness(0);}
header nav#mobile > ul li.info {position: absolute; bottom: 1rem; right: 1rem; height: auto; align-items: flex-end;}
header nav#mobile > ul li.info img {width: 1.5rem; user-select: none;}
header nav#mobile > ul li.info label {cursor: pointer;}
header nav#mobile > ul li.info input {display: none;}
header nav#mobile > ul li.info ul {display: flex; flex-direction: column; order: -1; text-align: right; height: 0;  overflow: hidden; transition: 500ms ease; position: absolute; bottom: 2.5rem; width: 14rem; opacity: 0;}
header nav#mobile > ul li.info ul li {margin-bottom: 0.5rem; flex-shrink: 0;}
header nav#mobile > ul li.info ul li a {padding-right: 0; color: #000; letter-spacing: 1px;}

header nav#mobile > ul li.view input { display: none;}
header nav#mobile > ul li.view label {cursor: pointer;}

header nav#mobile > ul li.info input:checked ~ ul {height: 7rem; opacity: 1;}

.paper nav#mobile ul {background: #000}
.paper nav#mobile ul li img {filter: none;}
.paper header nav#mobile .burger:checked ~ .burger span {background: #FFF;}
.paper header nav#mobile .burger:checked ~ a {filter: brightness(100);}
.paper header nav#mobile > ul li.info ul li a {color: #FFF; }


body.home nav#desktop ul li img.home,body.over-ons nav#desktop ul li img.over-ons,body.werkwijze nav#desktop ul li img.werkwijze,body.prijzen nav#desktop ul li img.prijzen,body.contact nav#desktop ul li img.contact {opacity: 1; }
.home-collect.home section.home,.home-collect.over-ons section.over-ons,.home-collect.werkwijze section.werkwijze,.home-collect.prijzen section.prijzen,.home-collect.contact section.contact  {display: flex; flex-direction: column;}

.home-collect .video {position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: -1;}
.home-collect .video video {position: absolute; width: 100%; height: 100%; top: 0; left: 0; object-fit: cover;}
.home-collect section {margin: 2rem; height: calc(100vh - 4rem); display: none; }
.home-collect section h1, .h1 {text-align: center;}
.home-collect section .center  {text-align: center; margin: auto; transform: translateY(-50%); max-width: 30rem; }
.home-collect section p.center  {font-size: 2rem; transform: none; display: block; font-weight: 600;}

.home-collect section > div.ul_box {margin: auto; width: calc(100% - 6rem); max-width: 58rem;}
.home-collect section.contact > div.ul_box {max-width: 38rem;}
.home-collect section ul.block { display: flex; justify-content: space-between; width: 100%; margin-left: 1rem; scroll-behavior: smooth; }
.hidescroll {  -ms-overflow-style: none;  scrollbar-width: none; }
.hidescroll::-webkit-scrollbar  {display: none;}

.home-collect section ul.block > li {width: 100%; max-width: 17rem; display: flex; flex-direction: column; align-items: center;  letter-spacing: 1px; text-align: center; border: 5px solid #FFFFFF; border-radius: 1rem; padding: 2rem 2rem 5rem; box-sizing: border-box; position: relative; overflow: hidden; margin-right: 2rem;}
.home-collect section.prijzen ul.block li h3 {font-size: 2rem; }
.home-collect section ul.block li ul li {margin-bottom: 0.5rem; }
.home-collect section ul.block li a.clickbox {position: absolute; top: 0; left: 0; border-radius: 1rem; width: 100%; height: 100%;  z-index: 2;}
.home-collect section.prijzen ul.block li img {position: absolute; bottom: -2px; transition: 500ms ease;}
.home-collect section ul.block li::after {content: ""; display: block; width: 100%; height: 100%; bottom: 0; position: absolute; left: 0; background: #FFF; transform: translate3d(0, 100%, 0); transition: 500ms ease;}

.home-collect section.prijzen > ul li:hover::after {transform: translate3d(0,95%,0);}
.home-collect section.prijzen > ul li:hover img  {transform: translate3d(0,-1rem,0);}

.home-collect section.prijzen > ul li.fly-over::after { transition: 1s ease-in;  transform:translate3d(0,-180%,0); }
.home-collect section.prijzen > ul li.flown::after { transition: 0s !important;}
.home-collect section.prijzen > ul li.fly-over:hover img  {transform: translate3d(0,0 ,0);}

.home-collect section .ul_box .dots { display: none; width: 4rem; justify-content: center; margin: 1rem auto -1rem;  }
.home-collect section .ul_box .dot {background: #FFF; border-radius: 50%; height: 0.7rem; width: 0.7rem; opacity: 0.5; cursor: pointer; margin: 0 0.3rem}
.home-collect section .ul_box .dot.active {opacity: 1;}


.home-collect section.contact > div > ul > li {padding-bottom: 1rem; padding-top: 3rem;}
.home-collect section.contact > div > ul > li {padding-bottom: 1rem; padding-top: 3rem;}
.home-collect section.contact > div > ul li ul {width: 100%; display: flex;  justify-content: space-around; align-items: center; margin-top: 1rem; margin-bottom: 1rem;}
.home-collect section.contact > div > ul li ul li {width: calc(20% - 1rem); margin: 0 0.5rem; }
.home-collect section.contact > div > ul li h3:not(:first-of-type) {font-weight: 600; margin-top: 2rem; }
.home-collect section.contact > div > ul li img.map {max-width: 100%; border-radius: 0.5rem; transform: translateY(2rem);}


footer { position: fixed; bottom: 0; width: 100%;  padding-top: 2rem;}
footer nav {margin: 2rem; }
footer nav ul {display: flex; justify-content: flex-end; align-items: center; margin-left: auto; width: 3rem; transition: 1000ms ease; overflow: hidden;}
footer nav ul li:not(:last-of-type) {margin-bottom: 0.5rem; margin-right: 1.7rem;  flex-shrink: 0;}
footer nav ul li a {color: #FFFFFF; padding: 0.5rem; letter-spacing: 1px; opacity: 0; transition: 1000ms ease; font-size: 0.8rem;}

footer:hover nav ul {width: 100%;}
footer:hover nav ul li a {opacity: 0.5; }
footer nav ul li a:hover {opacity: 1;}


.tips-tricks {background: #EFE5D5; margin-bottom: 5rem; }
.tips-tricks footer nav ul li img {filter: brightness(0);}
.tips-tricks nav#desktop ul li a img {opacity: 1;}
.paper nav#desktop ul li a img {opacity: 1; filter: brightness(0);}

.tips-tricks .tips {margin-top: 2rem; min-height: 30rem; color: #000; overflow: hidden;}
.tips-tricks .tips h1 {text-transform: initial; color :#000; text-align: center; letter-spacing: 0; padding-top: 5rem; font-size: 3rem;}
.tips-tricks .tips ul {display: flex; max-width: 66rem; margin: 0 auto; flex-wrap: wrap; justify-content: center; transform: translateX(3rem); width: calc(100% - 4rem);}
.tips-tricks .tips ul li {margin: 5rem 4rem 0 0; max-width: 18rem; width: 100% ;position: relative;}
.tips-tricks .tips ul h2 {text-transform: initial; font-size: 1.6rem; margin-bottom: 1.5rem; letter-spacing: 1px;}
.tips-tricks .tips ul h2 a {color: #000; }
.tips-tricks .tips ul .md {font-size: 0.9rem; }
.tips-tricks .tips ul li > a { padding: 0.2rem 1rem; color: #000; text-transform: uppercase; border-radius: 2rem; border: 1px solid #000; font-size: 0.8rem;  display: inline-block; margin-top: 0.5rem; transition: 500ms ease; }
.tips-tricks .tips ul li > a:hover {background: #000; color: #EFE5D5;}

.tips-tricks .tips ul li:not(:nth-of-type(3n)):after {height: 100%; content: ""; display: block; border-right: 1px solid #000; position: absolute; top: 0; right: -1rem; } 
.tips-tricks .tips ul li:last-of-type:after {display: none; } 

@media only screen and (max-width: 1400px) {
    .tips-tricks .tips ul li:not(:nth-of-type(3n)):after {display: none;} 
    .tips-tricks .tips ul li:not(:nth-of-type(2n)):after {height: 100%; content: ""; display: block; border-right: 1px solid #000; position: absolute; top: 0; right: -1rem; }  
    .tips-tricks .tips ul li:last-of-type:after {display: none; } 

    .home-collect section> .ul_box {max-width: 50rem;}
    .home-collect section.contact > div.ul_box {max-width: 30rem;}
    .home-collect section ul.block > li {max-width: 14rem; font-size: 0.8rem; padding: 2rem 1rem 3.5rem; margin-right: 1rem;}
}

@media only screen and (max-width: 1001px) {
    .home-collect section ul.block > li {max-width: 12rem; font-size: 0.6rem; } 
    .home-collect section.contact ul.block > li {max-width: 15rem; font-size: 0.6rem; } 
    
    .home-collect section.prijzen ul.block li h3 {font-size: 1.4rem; }
}


@media only screen and (max-width: 959px) {
    .tips-tricks header nav {margin: 0 1rem; }
    .tips-tricks .tips {margin-top: 1rem;}

    .tips-tricks .tips h1 { font-size: 2rem; }
    .tips-tricks .tips ul {width: calc(100% - 2rem); transform: none; flex-direction: column; align-items: center;}
    .tips-tricks .tips ul li {margin-right: 0;}
    .tips-tricks .tips ul li:not(:nth-of-type(2n)):after {display: none; } 
    .tips-tricks .tips ul li:first-of-type {margin-top: 2rem; } 
    
    .tips-tricks .tips ul li::before {content: ""; display: block; width: 100%; border-bottom: 1px solid #000; position: absolute; bottom: -2rem; margin: 0 auto;}
}   

@media only screen and (max-width: 900px) {
    footer nav ul li:not(:last-of-type){ margin-right: 1rem}
}   

@media only screen and (max-width: 850px) {
    header nav#desktop {display: none;}   
    header nav#mobile {display: block; margin: 0 1rem; }   
    footer { display: none; }
    header nav#mobile > a {display: block; width: 2rem; }
    
    .paperheader nav#mobile > a { filter: brightness(0);}
    .paper header nav#mobile .burger span {background: #000;}
    
    
    .home-collect section {margin-top: 1rem;}
    .home-collect section h1, .h1 {position: absolute; bottom: 1rem; left: 1rem; }
    
    .home-collect section p.center {font-size: 1rem; }
    .home-collect section h2.center {font-size: 1.6rem; transform: translateY(-20%);}
    
    .home-collect section ul.block  {width: calc(100% + 10rem); overflow: scroll; margin-left: -5rem;}
    .home-collect section ul.block > li {max-width: 15rem; padding: 2rem 1rem 5rem; margin-right: 5%; flex-shrink: 0; font-size: 1rem;}
    .home-collect section ul.block > li:first-of-type {margin-left: 10%;}
    .home-collect section ul.block > li:last-of-type {margin-right: 10%;}
    .home-collect section:not(.contact) .ul_box div.dots {display: flex; }
}

@media only screen and (max-width: 800px) {
    .home-collect section.contact .ul_box div.dots {display: flex; }
}